*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:red; */
}
.box{
    position: relative;
}
.circle{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: red;
    z-index: -1;
}
.circle1{
    left: 32%;
    top: -11%;
}
.circle2{
    bottom: -11%;
    right:33%;
}
.form{
    height: 550px;
    width: 400px;
    border: 2px solid white;
    margin:4rem auto;
    backdrop-filter: blur(30px);
    color: white;
    padding:15px;
}
input{
    width: 80%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-top: 2rem;
    margin-left: 2rem;
}
a{
    display: inline-block;
    text-decoration: none;
    color:white;
    margin-left: 2rem;
    margin-top: 7rem;
    background-color: brown;
    padding: 10px 25px;
    width: 80%;
    text-align: center;
}
input[type="checkbox"]{
    position: absolute;             
    z-index: 999;
}
input[type="checkbox"]:checked ~ .main{
    height: 100vh; 
    width: 100%;
    position: relative;
    z-index: -1;
    background-color: blue;
}